.login-form {

	.login-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 45px;

		.login-icon {
			width: 60px;
			height: 52px;
		}

		.logo-text {
			padding: 0 0 0 25px;
			margin: 0;
			font-size: 42px;
			font-weight: bold;
			color: #34495e;
			white-space: nowrap;
		}
	}

	.el-form-item {
		margin-bottom: 40px;
	}

	.login-btn {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 40px;
		white-space: nowrap;

		.el-button {
			width: 185px;
		}
	}
}