// 全局css样式变量

$bgColorMenu: #1d1d27;
$duration: .7s;

// 导航栏背景颜色
$bgColorsBodyOrgie: rgb(255, 180, 87);
$bgColorsBodyPink: rgb(255, 150, 189);
$bgColorsBodyBlue: rgb(153, 153, 251);
$bgColorsBodyBriwn: rgb(255, 231, 151);
$bgColorsBodyPurple: rgb(207, 255, 241);