.setction {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    font-size: 25.5rem;
    color: rgba(255, 255, 255, .05);
  }

  &:nth-child(1) {
    // background-color: rgb(116, 68, 5);
    background: #03293c;
    color: white;

    article {
      padding-right: 50%;
      // width: 30%;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  &:nth-child(2) {
    background-color: rgb(116, 68, 5);

    &:before {
      content: "HWC 01";
    }
  }

  &:nth-child(3) {
    background-color: rgb(5, 53, 116);

    &:before {
      content: "HWC 02";
    }
  }

  &:nth-child(4) {
    background-color: rgb(116, 68, 5);

    &:before {
      content: "HWC 03";
    }
  }

  &:nth-child(5) {
    background-color: rgb(5, 53, 116);

    &:before {
      content: "HWC 04";
    }
  }

  h1 {
    font-size: 9rem;
    margin: 0 0 2.5rem;
    line-height: 1em;
  }

  h3 {
    font-size: 4.1rem;
  }

  p {
    font-size: 2rem;
  }

  &__right {
    width: 50%;
    float: left;
  }

  &__left {
    width: 50%;
    float: left;
  }
}

// 下翻图标
.bounce-1 {
  width: 40px;
  height: 40px;
  position: fixed;
  // bottom: 80px;
  left: 50%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  margin-left: -20px;
  transform: translateY(0%) rotate(45deg);
  animation: bounce-1 3s infinite normal;

  &:before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
  }
}

@keyframes bounce-1 {
  0% {
    opacity: 0;
    bottom: 80px;
  }

  100% {
    opacity: 1;
    bottom: 40px;

  }
}