.setction {

  &:nth-child(2) {
    background: url("@/assets/images/1.jpg") no-repeat;
    background-size: 100%;

    &:before {
      content: "HWC 01";
    }
  }

  h3 {
    font-size: 4.1rem;
  }

  p {
    font-size: 2rem;
  }


}