.setction {

  &:nth-child(2) {
    background: url("@/assets/images/1.jpg") no-repeat;
    background-size: 100%;

    &:before {
      content: "HWC 01";
    }
  }

  h3 {
    font-size: 2rem;
  }

  .main_section {
    width: 100%;
    height: 90%;
    background-color: rgb(167, 167, 167, .1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    .movie_content {
      position: absolute;
      width: 80%;
      height: 70%;
      top: 70%;
      left: 50%;
      transform: translate3d(-50%, -70%, 0);
      background-color: rgb(46, 85, 46, .2);
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      text-align: center;
      transition: all .7s cubic-bezier(.67, .13, .1, .81);

      .movie {
        width: 20%;
        left: 21px;
        transition: opacity .7s cubic-bezier(.67, .13, .1, .81);

        .title {
          // margin-top: -70px;
          // opacity: .5;
        }

        .poster {
          width: 100%;
          margin: 0 auto;

          img {
            // width: 80%;
            width: 100%;
            border-radius: 15px;
            opacity: .8;
          }
        }
      }
    }

    .detail_section {
      display: none;
      position: absolute;
      width: 80%;
      // height: 600px;
      height: 70%;
      top: 70%;
      left: 50%;
      transform: translate3d(-50%, -70%, 0);
      background-color: rgb(46, 85, 46, .2);
      align-items: flex-end;
      // text-align: center;
      transition: opacity .7s cubic-bezier(.67, .13, .1, .81);

      .movie {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 20%;
        transition: all .7s cubic-bezier(.67, .13, .1, .81);

        .title {
          opacity: 0;
        }

        .poster {
          width: 100%;
          transition: all .7s cubic-bezier(.67, .13, .1, .81);

          img {
            width: 100%;
            border-radius: 15px;
            transition: all .7s cubic-bezier(.67, .13, .1, .81);
            // opacity: .8;
          }
        }

        .detail_text {
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          // background-color: rgb(46, 85, 46, .2);
          opacity: 0;
          // transition: all .7s cubic-bezier(.67, .13, .1, .81) .8s;
          // transition-delay: .8s;
          padding: 30px;
          // opacity: 0;

          .cancel {
            position: absolute;
            padding: 4px 5px;
            border: 1px solid rgb(202, 202, 202, .8);
            border-radius: 50%;
            right: 20px;
            top: 30px;
            cursor: pointer;
            transition: all .3s cubic-bezier(.67, .13, .1, .81);
          }

          .cancel:hover {
            border: 1px solid rgba(79, 153, 250, 0.8);
            color: rgba(79, 153, 250, 0.8);
          }

          .desc {
            text-indent: 2em;
          }
        }
      }
    }
  }
}